.card-container {
  padding: 60px;
  margin-top: 20px;
  margin-left: 500px;
  position: fixed;
  text-align: center;
  border-top: solid 11px darkblue;
  border-bottom: solid 11px darkblue;
  border-left: solid 11px darkblue;
  border-right: solid 11px darkblue;
  font-size: 20px;
}



.portfel {
  padding: 20px;
  position: center;
  font-size: 25px;
}
